body {
  background-color: #f7ede2;
}

h1 {
  color: #001524;
  text-align: center;
  margin-top: 15px;
}

h2 {
  margin: 0 0 25px 0;
  padding-top: 25px;
  padding-left: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e09f3e;
}

/* Use flex or grid here for navbar */
nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li:hover {
  background-color: #001524;
}

/* Carousel */

.carousel {
  height: 600px;
}

.carousel-img {
  height: 100%;
  object-fit: cover;
}

/* Carousel Cards */

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.btn {
  color: white;
}

/* Contact Page */

.contact-header {
  margin-top: 35px;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact-form {
  background-color: #001524e4;
  width: 80%;
  color: white;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
}

.contact-paragraph {
  text-align: center;
  margin: 10px;
}

.form-btn {
  background-color: #e09f3e !important;
  color: #f7ede2 !important;
}
.form-btn:hover {
  background-color: #386631 !important;
}

/* Footer */

footer {
  color: white;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #e09f3e;
  text-align: center;
  padding: 0.5rem 0;
}
