body {
  background-color: #f7ede2;
}

h1 {
  color: #001524;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e09f3e;
}

/* Use flex or grid here for navbar */
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li:hover {
  background-color: #001524;
}

/* Buttons */

.btn {
  color: white;
}

footer {
  color: white;
}

/* Cards */

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
